body {
  padding: 1rem;
  margin: 1rem;
}

img {
  max-width: 100vw;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.section {
  padding: 0.5rem 1rem;
}

ul {
  font-size: 1rem;
}

li {
  margin: 1rem 0.1rem;
}


